body{
    margin: 0;
}
#debug{
    position: fixed;
    bottom:0px;
    left:0px;
    background-color: rgb(48, 48, 48);
    color:white;
    padding-left: 10px;
}


/* explanation: */
/* width:100%; means full width of browser */
/* height:100vh; means full height of viewport */

/*
#wrapper{
    background-color: lightblue;
    width:100%; 
    height:100vh; 
    position: absolute;
    left:0;
    top:0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}
#square{
    width:100px;
    height:100px;
    background-color: bisque;
    transform: rotate(-25deg);
    transform-origin: 50% 50%;
} 

*/

#ball {
    position: absolute;
    width: 40px;
    height: 40px;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
    filter: drop-shadow(0 10px 14px rgba(0,0,0,0.35));
}

#board {
    position: fixed;
    inset: 0;         
    width: 100vw;
    height: 100vh;
    background: #1b1b1b;
    overflow: hidden;
    display: none;    
}


#requestOrientationButton {
    padding: 12px 14px;
    border-radius: 12px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    background: #27e6b8;
    color: #07110e;
}

/*.corner {
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 16px;
    background: rgba(255,255,255,0.06);
    border: 2px solid rgba(255,255,255,0.12);
}
  
#TL { top: 14px; left: 14px; }
#TR { top: 14px; right: 14px; }
#BL { bottom: 14px; left: 14px; }
#BR { bottom: 14px; right: 14px; }
  
.corner.active {
    background: rgba(0, 255, 180, 0.25);
    border-color: rgba(0, 255, 180, 0.9);
    box-shadow: 0 0 20px rgba(0, 255, 180, 0.7);
}*/

#cornerGlow {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: rgba(0, 255, 180, 0.25);
    border: 2px solid rgba(0, 255, 180, 0.9);
    box-shadow: 0 0 22px rgba(0, 255, 180, 0.75);
}